/* Styles for the button */
.custom-button {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    /* background-color: #3498db; */
    background-color: '#d7b99a';
    border: none;
    cursor: pointer;
    overflow: hidden;
}

/* Styles for the bar animation */
.bar-animation {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    /* Initial width */
    background-color: #e74c3c;
    /* Color of the bar */
    transition: width 0.3s ease;
    /* Transition effect */
}

/* Hover effect - Increase the width of the bar on hover */
.custom-button.hovered .bar-animation {
    width: 35%;
}