@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(92.23deg,
      #f4e3c3 21.43%,
      /* Light Beige */
      #d7b99a 50.63%,
      /* Beige */
      #c3a785 100%,
      /* Dark Beige */
      #ad9565 117.04%
      /* Brownish Beige */
    );
  box-shadow: 0px 4.42184px 107.23px rgba(244, 227, 195, 0.51);
  /* Adjusted beige shadow */
}

.btn:hover {
  background: linear-gradient(92.23deg,
      #ad9565 21.43%,
      /* Brownish Beige */
      #c3a785 50.63%,
      /* Dark Beige */
      #d7b99a 100%,
      /* Beige */
      #f4e3c3 117.04%
      /* Light Beige */
    );
}

.gradient,
.active {
  background: linear-gradient(92.23deg,
      #ad9565 21.43%,
      /* Brownish Beige */
      #c3a785 50.63%,
      /* Dark Beige */
      #d7b99a 100%,
      /* Beige */
      #f4e3c3 117.04%
      /* Light Beige */
    );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-gray-500;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
